
<div class="main-hero text-center">
  <% if admin_user_signed_in? %>
    <div class="row">
    <br>
      <div class="large-9 column">
        <%= image_tag 'maps/feast-hack-map.png', :class => "feast" %>
        <%= image_tag 'maps/astoria.png', :class => "astoria list-image" %>
        <%= image_tag 'maps/bronx-group.png', :class => "bronx list-image" %>
        <%= image_tag 'maps/central-harlem.png', :class => "central list-image" %>
        <%= image_tag 'maps/east-harlem.png', :class => "east list-image" %>
        <%= image_tag 'maps/flushing.png', :class => "flushing list-image" %>
        <%= image_tag 'maps/greenich-village.png', :class => "greenich list-image" %>
        <%= image_tag 'maps/highbridge.png', :class => "highbridge list-image" %>
        <%= image_tag 'maps/jackson-heights.png', :class => "jackson list-image" %>
        <%= image_tag 'maps/lower-east-side.png', :class => "lower list-image" %>
        <%= image_tag 'maps/morningside-heights.png', :class => "morningside list-image" %>
        <%= image_tag 'maps/mott-haven.png', :class => "mott list-image" %>
        <%= image_tag 'maps/north-manhattan-group.png', :class => "north list-image" %>
        <%= image_tag 'maps/pelham-parkway.png', :class => "pelham list-image" %>
        <%= image_tag 'maps/queens-group.png', :class => "queens list-image" %>
        <%= image_tag 'maps/soundview.png', :class => "soundview list-image" %>
        <%= image_tag 'maps/south-manhattan-group.png', :class => "south list-image" %>
        <%= image_tag 'maps/sunnyside.png', :class => "sunnyside list-image" %>
        <%= image_tag 'maps/throgs-neck.png', :class => "throgs list-image" %>
        <%= image_tag 'maps/washington-heights.png', :class => "washington list-image" %>
      </div>
      <style>
      .feast{
        opacity: .6;
      }
        .list-image{
          position: absolute;
          left: 0px;
          top: 0;
          visibility: hidden;
          opacity: .8;
        }
        .list-image.visibler{
          visibility: visible;
        }
        h5{
          margin-bottom:0em;
        }
        .no-bullet li{
          opacity:.6;
        }        
        .no-bullet li.list-eastharlem{
          opacity:1;
          font-weight: bold;
        }
        .no-bullet li:hover{
          background: #ccc;
        }
      </style>
   
      <div class="large-3 column text-left">
        <h4>Select your region</h4>
        <ul class="text-left no-bullet">
          <li id="group" class="list-north-manhattan"><h5>North Manhattan</h5> </li>
            <li class=" list-eastharlem"><%= link_to "East Harlem", users_path %></li>
            <li class=" list-centralharlem">Central Harlem (Coming Soon)</li>
            <li class=" list-washingtonheights">Washington Heights (Coming Soon)</li>
            <li class=" list-morningsideheights">Morningside Heights (Coming Soon)</li>
          <li class=" list-southmanhattan" id="group"><h5>South Manhattan</h5> </li>
            <li class=" list-financialdistrict">Greenich Village / Financial District (Coming Soon)</li>
            <li class=" list-chinatown">Lower East Side / Chinatown (Coming Soon)</li>
          <li class=" list-bronx" id="group"><h5>Bronx</h5> </li>
            <li class=" list-highbridge">Highbridge / South Concourse (Coming Soon)</li>
            <li class=" list-motthaven">Mott Haven / Hunts Point (Coming Soon)</li>
            <li class=" list-soundview">Soundview / Parkway (Coming Soon)</li>
            <li class=" list-throg">Throg Neck / Co-Op City (Coming Soon)</li>
            <li class=" list-pelhamparkway">Pelham Parkway (Coming Soon)</li>
          <li class=" list-queens" id="group"><h5>Queens</h5></li>
            <li class=" list-astoria">Astoria (Coming Soon)</li>
            <li class=" list-jacksonheights">Jackson Heights (Coming Soon)</li>
            <li class=" list-sunnyside">Sunnyside / Woodside (Coming Soon)</li>
            <li class=" list-flushing">Flushing / Whitestone (Coming Soon)</li>
        </ul>
      </div>
    </div>
    <br>
  <% else %>
    <style>
      .background{
        margin-bottom: 0em;
        padding-bottom: 0em;
        border-bottom: 0px solid rgb(204, 204, 204);
      }
      .row .row{
                margin-left: -1.375em;
        margin-right: -1.375em;
      }
    </style>
    <script>
      $('.white-bg').removeClass('white-bg');
    </script>
    <div class="row">
      <div class="large-8 column large-centered">
        <div class="large-4 column">
          <%= image_tag "snipit.png" %>
        </div>
        <div class="large-8 column fl">
        <br>
        <br>
          <h1 style="font-size: 4em;
          "><%= image_tag 'snipit-logo-grey.png' %></h1>
          <h1 class="subheader">
            Be there – even when you can’t. 
          </h1>
          <%= link_to "Sign up", new_admin_user_registration_path, class: "button primary medium white button-width" %>
                    <h2 style="font-size:1.3em; color: #333;" class="subheader text-center">
            Send your group text messages about new recipes, local events, discounts on healthy food or free fitness classes!
          </h2>
        </div>
      </div>
    </div>
          <hr style="visibility: hidden;">
    <div class="row"  style="background: white !important; border-top: 8px solid rgb(204, 204, 204);">
    <div class="large-8 column large-centered">
          

      <div class="large-4 column"><%= image_tag 'LINK-ICON.png', :class=> "height-same" %>
          <h4 style="opacity: .8; font-size: 1.3em;">Connect</h4>
          <h5 class="subheader">Show them you care with regular text messages.</h5>

          </div>
      <div class="large-4 column"><%= image_tag 'POST-IT-ICON.png', :class=> "height-same" %>
          <h4 style="opacity: .8; font-size: 1.3em;">Customize</h4>
          <h5 class="subheader">Send the right info at the right time.</h5>

         </div>
      <div class="large-4 column"> <%= image_tag 'MEGAPHONE-ICON.png', :class=> "height-same" %>
          <h4 style="opacity: .8; font-size: 1.3em;">Coordinate</h4>
          <h5 class="subheader">Share valuable tips across multiple channels.</h5></div>
          <br><br><br>
  <hr style="visibility: hidden;">
      <%= link_to "Sign up now!", new_admin_user_registration_path, class: "button primary large white button-width" %>
    </div>
    </div>
  <% end %> 
</div>
<div>
</div>
   <script type="text/javascript">

$('.list-astoria').hover( function(){
  $('.astoria').addClass('visibler'); 
}, function(){
  $('.astoria').removeClass('visibler'); 
});
$('.list-bronx').hover( function(){
  $('.bronx').addClass('visibler'); 
}, function(){
  $('.bronx').removeClass('visibler'); 
});
$('.list-centralharlem').hover( function(){
  $('.central').addClass('visibler'); 
}, function(){
  $('.central').removeClass('visibler'); 
});
$('.list-eastharlem').hover( function(){
  $('.east').addClass('visibler'); 
}, function(){
  $('.east').removeClass('visibler'); 
});
$('.list-flushing').hover( function(){
  $('.flushing').addClass('visibler'); 
}, function(){
  $('.flushing').removeClass('visibler'); 
});
$('.list-financialdistrict').hover( function(){
  $('.greenich').addClass('visibler'); 
}, function(){
  $('.greenich').removeClass('visibler'); 
});
$('.list-highbridge').hover( function(){
  $('.highbridge').addClass('visibler'); 
}, function(){
  $('.highbridge').removeClass('visibler'); 
});
$('.list-jacksonheights').hover( function(){
  $('.jackson').addClass('visibler'); 
}, function(){
  $('.jackson').removeClass('visibler'); 
});
$('.list-chinatown').hover( function(){
  $('.lower').addClass('visibler'); 
}, function(){
  $('.lower').removeClass('visibler'); 
});
$('.list-morningsideheights').hover( function(){
  $('.morningside').addClass('visibler'); 
}, function(){
  $('.morningside').removeClass('visibler'); 
});
$('.list-motthaven').hover( function(){
  $('.mott').addClass('visibler'); 
}, function(){
  $('.mott').removeClass('visibler'); 
});
$('.list-north-manhattan').hover( function(){
  $('.north').addClass('visibler'); 
}, function(){
  $('.north').removeClass('visibler'); 
});
$('.list-pelhamparkway').hover( function(){
  $('.pelham').addClass('visibler'); 
}, function(){
  $('.pelham').removeClass('visibler'); 
});
$('.list-queens').hover( function(){
  $('.queens').addClass('visibler'); 
}, function(){
  $('.queens').removeClass('visibler'); 
});
$('.list-soundview').hover( function(){
  $('.soundview').addClass('visibler'); 
}, function(){
  $('.soundview').removeClass('visibler'); 
});
$('.list-southmanhattan').hover( function(){
  $('.south').addClass('visibler'); 
}, function(){
  $('.south').removeClass('visibler'); 
});
$('.list-sunnyside').hover( function(){
  $('.sunnyside').addClass('visibler'); 
}, function(){
  $('.sunnyside').removeClass('visibler'); 
});
$('.list-throg').hover( function(){
  $('.throgs').addClass('visibler'); 
}, function(){
  $('.throgs').removeClass('visibler'); 
});
$('.list-washingtonheights').hover( function(){
  $('.washington').addClass('visibler'); 
}, function(){
  $('.washington').removeClass('visibler'); 
});
      </script>