<%= form_for(@recreation) do |f| %>
  <% if @recreation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recreation.errors.count, "error") %> prohibited this recreation from being saved:</h2>

      <ul>
      <% @recreation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="large-6 column">
    <label>Name:</label>
    <%= f.text_field :name %>
  </div>
  <div class="large-6 column">
    <label>Location:</label>
    <%= f.text_field :location %>
  </div>
</div>
<div class="row">
  <div class="large-6 column">
    <label>Address:</label>
    <%= f.text_field :address %>
  </div>
  <div class="large-6 column">
    <label>Info:</label>
    <%= f.text_field :info %>
  </div>
</div>
<div class="row">
  <div class="large-4 column">
    <label>Audience:</label>
    <%= f.text_field :audience %>
  </div>
  <div class="large-4 column">
    <label>Days:</label>
    <%= f.text_field :days %>
  </div>
  <div class="large-4 column">
    <label>Time of day:</label>
    <%= f.text_field :timeOfDay %>
  </div> 
</div> 

<% end %>
