<h1>Listing recreations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Info</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recreations.each do |recreation| %>
      <tr>
        <td><%= recreation.name %></td>
        <td><%= recreation.address %></td>
        <td><%= recreation.info %></td>
        <td><%= link_to 'Sh', recreation %></td>
        <td><%= link_to 'Ed', edit_recreation_path(recreation) %></td>
        <td><%= link_to 'De', recreation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recreation', new_recreation_path %>
