<script>
  $('.white-bg').removeClass('white-bg');
</script>

<h2 class="text-center" style="font-size: 4em;">Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="large-6 column large-centered" style="font-size: 2em;">
  <%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %></div>

  <div class="large-6 column large-centered" style="font-size: 2em;">
  <%= f.password_field :password, :placeholder => 'Password' %></div>

  <div class="large-6 column large-centered" style="font-size: 2em;">
  <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %></div>

  <div class="text-center large-6 column large-centered"><%= f.submit "Sign up",  :class => 'button full-width' %></div>
<% end %>