<% if notice %>
<br>
<div class="panel">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<h1>
  <%= @user.firstname %> <%= @user.lastname %>
</h1>

<p>
  <h4 class="subheader">Phone:</h4>
  <%= @user.phoneNumber %>
</p>

<p>
  <h4 class="subheader">Subscription group:</h4>
  <strong>Recreation</strong>
  <%= @user.groupRecreation %>
  <br>
  <strong>Recipe</strong>
  <%= @user.groupRecipe %>
  <br>
  <strong>Coupon</strong>
  <%= @user.groupCoupon %>
  <label>Note: 1 means active and 0 means inactive.</label>
</p>
<p>
  <h4 class="subheader">Notes:</h4>
  <%= @user.userNote %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
