<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Snipit | East Harlem", home_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% if admin_user_signed_in? %>
        <li><%= link_to "Subscribers", users_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Recipes", recipes_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Recreational", recreations_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Coupons", coupons_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_admin_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Contact", help_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign Up", new_admin_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Login", new_admin_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>