<!DOCTYPE html>
<html>
<head>
  <title>FeastHealth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header/nav' %>
<div class="large-12 background">
  
<br>
<div class="row">
  <%= yield %>
</div>

</div>
<%= render 'layouts/footer/wrapper' %>

</body>
</html>
